* {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: beige;
  padding: 50px;
}

#input input {
  padding: 5px;
  font-size: 30px;
  border: none;
}
#button button {
  background-color: skyblue;
  padding: 15px;
  font-size: 30px;
  border-radius: 20px;
  width: 300px;
  border: none;
}

/* CSS Pseudo Classes */
#button button:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

/* #input input:hover {
  background-color: rgb(58, 39, 224);
} */

#input input:focus {
  background-color: brown;
  color: white;
}

a {
  font-size: 30px;
  text-align: center;
  color: blue;
  text-decoration: none;
}
a:visited {
  color: black;
}

a:active {
    background-color: yellow;
  }

  input[type=text]:disabled {
    background: #000000;
  }



  p::after {
    content: "";
    /* border: 10px solid black; */
    background-color: blue;
    color: white;
    padding: 5px;
  }




  /* p::selection{
    color: red;
    background: yellow;
  } */
  /* p::first-line{
    font-size: 50px;
    background-color: yellow;
  } */
  /* p::first-letter{
    font-size: 50px;
    background-color: yellow;
  } */